.search-body{
    background-color:#2D68C4;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;

}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
 
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
 
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
 
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
 
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14xpx;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

.search-btn-list {
    position: relative;
    top: 8vh;
    right: 7vh;
    align-self: flex-end;
}

#search-title-name{
    margin-top: 8%;
    font-family: "Gloria Hallelujah";
    font-size: 65px;
    color:white;
}

#search-title-name:hover{
    color:rgb(214, 213, 213);
}

.searchbar {
    font-family: "Gloria Hallelujah";
    font-size: medium;
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

#search-modal-input {
  text-transform: uppercase;
  width: 70%;
  border-radius: 10px;
}

.dropbtn {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    /* border: none; */
    /* margin-top: 100px; */
    background-color: white;
    color: #2D68C4;
    font-weight: bolder;
    font-size: 0.9em;
    font-family: "Gloria Hallelujah";
    border-style: none;
    border-radius:40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: block;
    background-color: #f1f1f1;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */

  .searchpage-btn {
    background-color: white;
    color: #2D68C4;
    font-weight: bolder;
    font-size: 0.9em;
    font-family: "Gloria Hallelujah";
    border-style: none;
    border-radius:40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    
}

.float-container {
    /* border: 3px solid #fff; */
    padding: 20px;
}

.float-child {
    width: 80vw;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.search-item {
  font-family: "Gloria Hallelujah";
  width:100%;
  color: black;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
  font-size: small;
  border-style: none;
}

.search-item:hover {
  background-color: #ddd;
  color: black;
}

.search-box {
  height:250px;
  overflow-y: auto;
}