:root {
    --colorCode: #6B8E23;
    --color1: #6B8E23;
    --color2: #EC7063;
    --color3: #A569BD;
    --color4: #34495E;
    --color5: #F5B041;
    --color6: #2D68C4;
    --color7: #3aaeb6;
    --color8: #e97bc6;
    --color9: #d06732;
    --color10: #2dc492;
}

.coursepage-main-body {
    width: 100vw;
    height: 100vh;
    background-color:#2D68C4;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.coursepage-nav-button {
    position:absolute;
    top: 20px;
    left: 10px;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
}

.coursepage-title-box {
    height: 100px;
    padding-top: 20px;
}

.coursepage-body{
    background-color:#FFFAF1;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow-x: hidden;
}

.coursepage-title {
    text-align: center;
    color: #FFFAF1;
    font-family: "Gloria Hallelujah";
    font-size: 2em;
}

.coursepage-class-list {
    /* position: relative; */
    padding-top: 2.5%;    
}


#coursepage-instructor {
    /* color: #2D68C4; */
    background-color: var(--colorCode); /* overwritten in coursepage.js */
    color: #FFFAF1;
    font-family: "Gloria Hallelujah";
    font-size: large;
    text-align: left;
    padding: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}

#coursepage-term-list {
    background-color:#FFFAF1;

    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    

}

#coursepage-prof-title {
    text-decoration: underline;
}

ul.term-under-instructor{
    list-style-type: none;
    text-align: left;
}
ul.term-under-instructor li {
    display: inline;
    /* padding: .5%; */
    padding-right: 5%;
    
}

.coursepage-btn {
    background-color: white;
    color: #2D68C4;
    font-weight: bolder;
    font-size: 0.9em;
    font-family: "Gloria Hallelujah";
    border-style: none;
    border-radius:40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.coursepage-btn:hover {
    background-color: #F2A900;
    color: #2D68C4;
}

.modal-input-box {
    display: flex;
    flex-direction: row;
}

#modal-input-label {
    width:25%;
    padding-right: 10px;
}

#modal-input {
    width: 70%;
    border-radius: 10px;
}

#modal-input-select {
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
}

.modal-qtr {
    margin: 0px 7px;
}

.modal-qtr-chk-box {
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
}

.lnk {
    /* color: #2D68C4; */
    color: #2D68C4;
    font-family: "Gloria Hallelujah";
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
}
.lnk:hover {
    color: #F2A900;
}

a {
    color: white;
  }
a:visited {
    color: #F2A900;
    /* color: whitesmoke; */
}
a:hover {
    color: #F2A900;
}

#home-btn{
    position: absolute;
    top: 20px;
    right: 25px;
}


#no-class {
    margin-top: 17%;
    color: #2D68C4;
    background-color: #FFFAF1;
    height: 100vh;
    font-family: "Gloria Hallelujah";
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
}

.invalidMsg {
    color: #EC7063;
    padding: 40px;
}

.rate {
    float: right;
    font-size: medium;
    padding: 0 10px;
    text-align:center;
}

.rate-modal {
    font-size: medium;
    text-align:center;
}


#rating {
    color: yellow;
}

#rating:hover {
    color: #c59b08;
}

.prof-main {
    width: 93vw;
}
